<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <Link rel = 'stylesheet' href = '/bootstrap/dist/css/bootstrap.min.css' />
        <Link rel = 'stylesheet' href = '/stylesheets/font-awesome.min.css' />
        <Link rel = 'stylesheet' href = '/stylesheets/ionicons.min.css' />
        <Link rel = 'stylesheet' href = '/admin-lte/dist/css/AdminLTE.min.css' />
        <Link rel = 'stylesheet' href = '/admin-lte/dist/css/skins/skin-blue.min.css' />
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
   <div class="wrapper">

  <!-- Main Header -->
  <%- include('./header.ejs') %>
  <!-- Left side column. contains the logo and sidebar -->
  <%- include('./leftside.ejs') %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	<!-- Content Header (Page header) -->
		<section class="content-header">
		  <h1>
		    Home
		    <small>Optional description</small>
		  </h1>
		  <ol class="breadcrumb">
		    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
		    <li class="active">Here</li>
		  </ol>
		</section>
		
		<!-- Main content -->
		<section class="content">
		
		  <!-- Your Page Content Here -->
		
		</section>
		<!-- /.content -->
	</div>

  <!-- Main Footer -->
  <%- include('./footer.ejs') %>
  <!-- Control Sidebar -->
  <%- include('./rightside.ejs') %>
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
  </body>
<script src = "/javascripts/jquery.min.js" ></script>
<script src = "/bootstrap/dist/js/bootstrap.min.js" ></script>
<script src = "/javascripts/app.min.js" ></script>
</html>
