@charset "utf-8";
/*logo区*/
.brandLogo{width: 100%;height: 160px;background: url("../images/brand-logo.jpg") no-repeat left top;margin-bottom: 5px;}
.brandLogo .concern{width: 121px;height: 105px;background: url("../images/brand.jpg") no-repeat center center;margin: 27px 0 0 30px;float: left;text-align: center;}
.brandLogo .concern img{display: inline-block;margin-top: 28px;}
.brandLogo .concern a{display: inline-block;width: 69px;height: 23px;margin: 10px 0 0 0;}
.brandLogo .brand-intro{float: right;width: 320px;height: 134px;font-size: 12px;color: #fff;line-height: 20px;padding: 10px;text-indent: 2em;margin-top: 6px;margin-right: 10px;}
/*logo区*/
/*关联商品*/
.S-content-b .left .hot-product{width: 180px;/*height: 448px;*/border: 1px solid #e1e1e1;margin: 0 0 25px 0;}
.S-content-b .left .hot-product h2{border-bottom: 1px solid #e1e1e1;line-height: 33px;text-align: center;font-size: 13px;color: #333;}
.S-content-b .left .hot-product .once-produce{padding: 11px;}
.S-content-b .left .hot-product .once-produce a{display: block;width: 100%;/*height: 100%;*/position: relative;overflow: hidden;height: 60px;margin-bottom: 20px;}
.S-content-b .left .hot-product .once-produce a p.num{width: 14px;height: 14px;background: #cc3333;border-radius: 5px;line-height: 14px;text-align: center;color: #fff;font-size: 10px;position: absolute;z-index: 10;top: 0;left: 0;}
.S-content-b .left .hot-product .once-produce a p.wei{/*background: #cccccc;border-radius: 5px;line-height: 14px;color: #fff;*/width: 14px;height: 14px;background: #ccc;border-radius: 5px;line-height: 14px;text-align: center;color: #fff;font-size: 10px;position: absolute;z-index: 10;top: 0;left: 0;}
.S-content-b .left .hot-product .once-produce a img{display: inline-block;width: 69px;height: 60px;position: absolute;top: 0;left: 0;}
.S-content-b .left .hot-product .once-produce a .name-line{font-size: 12px;height: 32px;color: #666666;position: absolute;top: 0;left: 74px;overflow: hidden;/*white-space: nowrap;width: 100%;*/
   /* width: 101px;*/line-height: 16px;/*text-overflow: ellipsis;*/display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.S-content-b .left .hot-product .once-produce a p.my-price-line-zi{font-size: 12px;color: #cc3333;line-height: 12px;position: absolute;left: 74px;bottom: 0;}

.S-content-b .left .see-more{width: 180px;border: 1px solid #e1e1e1;margin: 0;}
.S-content-b .left .see-more h2{border-bottom: 1px solid #e1e1e1;line-height: 33px;text-align: center;font-size: 13px;color: #333;}
.S-content-b .left .see-more .more-produce{padding: 11px;}
.S-content-b .left .see-more .more-produce a{display: block;width: 100%;height: 100%;position: relative;overflow: hidden;margin-bottom: 10px;text-align: center;}
.S-content-b .left .see-more .more-produce a p.name-line{text-align:left;font-size: 12px;line-height: 12px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.S-content-b .left .see-more .more-produce a p.my-price-line-zi{text-align:left;font-size: 12px;color: #cc3333;line-height: 30px;}
.S-content-b .left .see-more .more-produce a p.my-price-line-zi .comment{font-size: 10px;color: #666666;display: inline-block;margin-left: 30px;line-height: 20px;}
.S-content-b .left .see-more .more-produce a p.my-price-line-zi .comment em{color: #cc3333;font-size: 12px;padding: 0 5px;}
.S-content-b .left .see-more .more-produce a img{width: 121px;height: 113px;margin: 5px  0 8px 0;display: inline-block;}